SERVER_PORT=8080
SWAGGER_UI=true

DATABASE_USER="postgres"
DATABASE_HOST="questionanswerdb" # This is the name of the service in the docker-compose file
DATABASE_PORT=5432
DATABASE_SSL_MODE="require"
DATABASE_PASSWORD="verysecretpassword"
DATABASE_NAME="questionanswer"

JWT_SECRET_KEY="mysecretkey"
JWT_ISSUER="questionanswer"
JWT_AUDIENCE="questionanswer"
JWT_ALGORITHM="HS256"
JWT_EXPIRES_IN="24h"
JWT_REFRESH_EXPIRES_IN="720h"